/* Struttura principale */
.container {
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    font-family: 'Arial', sans-serif;
}

/* Sezione immagine del prodotto */
.product-image {
    flex: 1;
    padding: 20px;
}

.product-image img {
    max-width: 100%;
    height: auto;
}

/* Sezione dettagli del prodotto */
.product-details {
    flex: 2;
    padding: 20px;
}

.product-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-price {
    color: #B12704;
    font-size: 28px;
    margin-bottom: 10px;
}

.product-description {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

/* Sezione acquisto */
.purchase-section {
    flex: 1;
    padding: 20px;
    border-left: 1px solid #ddd;
}

.purchase-section .price {
    font-size: 28px;
    color: #B12704;
    margin-bottom: 20px;
}

.purchase-section .buy-button {
    background-color: #ffa41c;
    color: #000;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
}

.purchase-section .buy-button:hover {
    background-color: #f39800;
}

.purchase-section .add-to-cart-button {
    background-color: #FFD814;
    color: #111;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.purchase-section .add-to-cart-button:hover {
    background-color: #F7CA00;
}

.purchase-section .stock-status {
    font-size: 14px;
    color: #007600;
    margin-top: 10px;
}
nav {
    background-color: #333;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;

}
nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #111;
}
.dx {
    float: right;
    margin-right: 10px;
}