/* Layout principale e colori di sfondo */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* Navigation bar */
nav {
    background-color: #333;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer{
    background-color: darkorange;
    color: black;
    text-align: center;
    padding: 10px;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #111;
}

.dx {
    float: right;
    margin-right: 10px;
}

/* Personalizzazione del container prodotto */
.product {
    display: flex;
   
    justify-content: space-between;
    flex-direction: column;
    background-color: #fff;
    padding: 40px;
    margin: 20px auto;
    border: 1px solid #ddd;
    max-width: 1200px; /* Regola questa larghezza per adattarla alle tue esigenze */
    align-items: center; /* Centra gli elementi all'interno del container */
}

.product_image {
    width: 400px;
    height: 400px;
    
    

}

.product_image img {
    width: 100%;
    height: auto;
    max-height: 400px; /* Imposta un'altezza massima per l'immagine */
}

.product-details {
    text-align: center; /* Centra il testo se il layout è a colonna */
    padding: 20px;
}

.product-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-price {
    color: #B12704;
    font-size: 28px;
    margin-top: 10px; /* Aggiunge spazio sopra il prezzo per separarlo dall'immagine */
}

.product-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.buy-button {
    background-color: #ffa41c;
    color: #000;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-top: 10px; /* Aggiunge spazio sopra il bottone per separarlo dal prezzo */
    width: 50%; /* Regola la larghezza del bottone secondo le esigenze */
}

.buy-button:hover {
    background-color: #f39800;
}
.product-info p {
    display: flex;
    text-align: right;
    
}