body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100vh;
}

h1 {
    margin-left: 700px;
    color: white;
}

h2 {
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #666;
}

input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px;
    margin-top: 10px;
    background-color: #5C6BC0;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

input[type="submit"] {
    cursor: pointer;
}

button:hover {
    background-color: #7986CB;
}

.paragraph-box {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}
.nome_prodotto{
    text-align: center;
    color: black;
}
.prezzo{
    text-align: center;
    color: black;
}
a:link{
   
   text-decoration: none;
}
.nome_categoria{
    text-align: center;
    color: black;
}
.ex{
    border: solid 1px black;
}
.acquista{
    display: block;
    margin: auto;
    margin-bottom: 5px;
}
.container {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;

}
.footer{
    background-color: darkorange;
    color: black;
    text-align: center;
    padding: 10px;
}

.dx {
    float: right;
    margin-right: 10px;
}

.box-resto {

    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

p {
    font-size: 20px;
}

.box-oggetti {

    background-color: #f9f9f9;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.Oggetti {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}



.portatili {
    text-align: center;
}

.Tablet {
    text-align: center;
}

.Ebook {
    text-align: center;
}

.videogiochi {
    text-align: center;
}

.Software {
    text-align: center;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;

}

.titolo {
    color: black;
    font-size: 40px;
    margin-left: 10px;
    text-align: center;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #111;
}

table {
    width: 100%;
    border-collapse: collapse;
    /* Rimuove la spaziatura tra le celle */
    margin-bottom: 20px;
    /* Aggiunge un margine in basso alla tabella */
}

th,
td {
    border: 1px solid #ddd;
    /* Imposta un bordo per le celle dell'header e del corpo della tabella */
    padding: 8px;
    /* Aggiunge un padding all'interno delle celle */
    text-align: left;
    /* Allinea il testo a sinistra nelle celle */
}

th {
    background-color: #f4f4f4;
    /* Aggiunge un colore di sfondo all'header della tabella */
    color: #333;
    /* Imposta il colore del testo per l'header della tabella */
}

tr:nth-child(even) {
    background-color: #f9f9f9;
    /* Aggiunge uno sfondo alternato per le righe pari */
}

tr:hover {
    background-color: #eaeaea;
    /* Cambia lo sfondo delle righe quando si passa sopra con il mouse */
}


#titolo {
    font-size: 40px;
    color: white;
    margin-left: 800px;
}

.scelte {
    width: 200px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f2f2;
}

scelte:hover {
    background-color: #ddd;
}

#id1 {

    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

#categoria.scelte {
    margin-bottom: 10px;

}

.table_image {
    width: 150px;
    height: 150px;
}
.sedi{
    background-color: #f9f9f9;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}





.location_images {
    width: 300px;
    height: 175px;
    border: solid 1px black;
}

.locations {
    background-color: #f9f9f9;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h2{
    color : black;
    margin-left: 10px;
}
.categorie{
    display: flex;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
    flex-wrap: wrap;
    
}
.risorsa {
    border: 1px solid darkorange;
    width: 400px;
    border-radius: 5px 5px 5px 5px;
    margin-left: 10px;
    height: 400px;
    
    
}
.categoria:hover {
    opacity: 0.7; /* Change this to your preferred color */
}
.risorse{
    display: flex;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
    flex-wrap: wrap;
}
.product_image {
    margin: auto;
    width: 200px;
    height: 200px;
    display: block;
   
    
}
.generic{
    text-align: center;
    font-size: 30px;
    color: white;
}
.p{
    margin-left: 10px;
}
.cat_image{
    width: 300px;
    height: 300px;
    border: solid 1px darkorange;
    
}
.Descrizione{
    margin-left: 10px;
    color: black;
}
.risorse2{
    display: flex;
    background-color: #f9f9f9;
    border-color: darkorange;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
    flex-wrap: wrap;
}
.risorsa2 {
    border: 1px solid black;
    width: 400px;
    border-radius: 5px 5px 5px 5px;
    margin-left: 10px;
    height: 400px;
    
    
}
#nomeCategoria{
    color : white;
    margin-left: 10px;
    font-size: 20px;
    text-align: center;
    font: bold;
}